# pandas 学習

既存のデータを利用してpandasを学習するQiitaの記事より
あとjupyterの練習もかねて

## 使うもの

[データ分析で頻出のPandas基本操作 - Qiita](https://qiita.com/ysdyt/items/9ccca82fc5b504e7913a)

使用データ
[コンペティション詳細／SIGNATE／データ _ SIGNATE - Data Science Competition](https://signate.jp/competitions/24/data)

In [8]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('C:\\Users\\user\\Downloads\\train.csv')

In [13]:
df.head(5)

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [17]:
print('dataframeの行数・列数の確認==>\n', df.shape)
print('\nindexの確認==>\n', df.index)
print('\ncolumnの確認==>\n', df.columns)
print('\ndataframeの各列のデータ型を確認==>\n', df.dtypes)

dataframeの行数・列数の確認==>
 (207, 12)

indexの確認==>
 RangeIndex(start=0, stop=207, step=1)

columnの確認==>
 Index(['datetime', 'y', 'week', 'soldout', 'name', 'kcal', 'remarks', 'event',
       'payday', 'weather', 'precipitation', 'temperature'],
      dtype='object')

dataframeの各列のデータ型を確認==>
 datetime          object
y                  int64
week              object
soldout            int64
name              object
kcal             float64
remarks           object
event             object
payday           float64
weather           object
precipitation     object
temperature      float64
dtype: object

In [20]:
# 任意の列だけ取り出したい場合
df[['name', 'kcal']].head()

         name  kcal
0    厚切りイカフライ   NaN
1     手作りヒレカツ   NaN
2  白身魚唐揚げ野菜あん   NaN
3      若鶏ピリ辛焼   NaN
4    ビッグメンチカツ   NaN